@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.testing-page{
    background-color: rgba(13, 1, 73, 0.926);
}

.main-title{
    text-align: center;
    color: rgb(159,139,255);
    /* font-family: 'roca one'; */
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 6rem;
    font-weight: bolder;
}